---
layout: page
includes:
  css:
    blog: /static/css/blog.css
---
<h2>About me</h2>
<p>Hello, my name is Alexey Bezhan and I'm a programmer.</p>
<h2>Latest blog posts</h2>

<ol class="post-list">
  {% for post in site.posts limit: 4 %}
    <li class="post-li">
      <a class="post-title" href="{{ post.id }}/">{{ post.title }}</a>
      <div class="post-date">{% include date.html %}</div>
      <div class="post-info">
        <span class="post-summary">{{ post.summary }}</span><br>
      </div>
    </li>
  {% endfor %}
</ol>
