/*Blog post title*/
.post-title {

}

.post-title h2 {
    font-size: 2em;
    text-shadow: 0 1px 1px #fff;
    outline-color: black;
}

.post-title .post-date {

}
/*Post contents*/
.post {
/*blog post style*/
}

.post p, .post h3, .post ul, .post ol, .post blockquote, .post img, .post pre {
    padding-bottom: 1.5em;
}

.post p {
    text-align: left;
    word-spacing: 0.125em;
}

.post h3 {
    /*post title style*/
}

.post img {

      }

.post blockquote p {
    padding: 0 0 0 3em;
    font-style: italic;
    border-left: 3px solid #373737;
      }

.post ul {
    list-style-position: outside;
    list-style-type: decimal;
      }
.post ol {
    list-style-position: outside;
    list-style-type: square;
}

/*Blog post list*/
div.columns {
  margin-bottom: 1em;
}

div.nbr {
  clear: left;
}

ol.two-column {
  list-style-type: none;
}

.two-columns:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

li.post-li {
  float: left;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 1.5em;
  padding: 1em 20px;
}

li.post-li img {
  display: block;
}

li.post-li a {
  font-size: 1.25em;
  line-height: 1em;
}

li.post-li .post-date {
  color: #CCC;
  font-size: 0.75em;
}

li.post-li .post-punchline {
  font-size: 1em;
  line-height: 1.5em;
}

ol.two-column li:nth-of-type(odd) {
  margin-right: 20px;
}

hr {
  margin: 1.5em 0px 1.5em;
  height: 0;
  clear: both;
  border: solid #DDD;
  border-width: 1px 0 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #FFF;

}

