/*Blog post title*/

#content .post-title h1 {
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
}

#content .post-title h1 a {
  color: #373737;
}

.post a {
  border-bottom: 1px solid #373737;  
}

.post a:visited {
  color: #848484;
  border-bottom: 1px solid #848484;  
}

.post-title .post-date {
  font-size: 0.75em;
  color: #CCC;
  text-align: center;
}

/*Post contents*/

/*Whitespace between blocks*/
.post ul, .post ol {
  list-style-position: outside;
  padding-bottom: 1.5em;
}

/*Zero out padding for nested elements*/

.post ul ol, .post ul ul, .post ol ul, .post ol ol {
  padding-bottom: 0;
}
/*Per-element styles in post*/
.post img {
  display: block;
  padding: 10px;
  border: 1px solid #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.6);
  margin: 0 auto 1.5em auto;
}

#page .post blockquote p {
  padding: 0 0 0 1em;
  margin: 0 0 1.5em -1.2em;
  font-style: italic;
  border-left: 3px solid #373737;
}

.post ul {
  list-style-type: square;
}

.post ol {
  list-style-type: decimal;
}

.post code {
  background-color: #F8F8F8;
  padding: 0 4px;
  border: 1px solid #DEDEDE;
}

.post hr {
  margin: 1.5em 0px 1.5em;
  height: 0;
  clear: both;
  border: solid #DDD;
  border-width: 1px 0 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #FFF;
}
