---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    <meta name="author" content="Alexey Bezhan" />
    <title>{{ page.title }}{% if page.type == "page" %}{% if page.title %} &middot; {% endif %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ site.title }}" />

    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
    {% for stylesheet in page.includes.css %}
      <link rel="stylesheet" href="/static/css/{{ stylesheet[1] }}" type="text/css" media="screen" />
    {% endfor %}
    {% for jslist in page.includes.js %}
      {% for js in jslist[1] %}
        <script type="text/javascript" src="{{ js }}"></script>
      {% endfor %}
    {% endfor %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21642657-1']);
        _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
