---
layout: base
background_id: page
type: page
---
<div id="{{ page.background_id }}">
  <header id="header">
    <nav id="main-navigation">
    <a id="logo" href="/">{{ site.title }}</a>
      <a href="/atom.xml" class="rssbutton">&nbsp;</a>
      <ul id="navigation-links">
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
      </ul>
    </nav>
    </header>

  <div id="content">
    {{ content }}
  </div>
</div>
<footer id="footer">
  <div id="footer-text">
    <p>Contact me on <a href="https://github.com/allait">Github</a> or <a href="http://twitter.com/allait">Twitter</a>.</p>
  </div>
</footer>
