---
layout: main
active: blog
comments: true
includes:
  css:
    syntax: /static/css/syntax.css
    post: /static/css/post.css
---
<div id="content-title" style="background: {{page.title_background | escape}};">
  <h1>{{ page.title }}</h1>
  <div class="post-date">{% include date.html %}</div>
</div>

<div id="content">
  <div class="post">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>

  {% if page.comments %}
  <script type="text/javascript">
      var disqus_shortname = 'fueledbylemons';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="//disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</div>
